body {
    line-height: 1.5;
    font-size: 16px;
    color: #333;
    font-family: Arial, sans-serif;
    
}
.title{
    color: #f03333;
    line-height: 1,2;
    text-transform: uppercase;
    font-size: 40px;
}
.subtitle{
    font-size: 30px;
    color: #12ac11;
    line-height: 1.2;
    text-decoration: underline;
}
.list{
    font-size: 20px;
    color: #444;
    font-style: italic;
    list-style-type: square;
}